<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Node and MongoDB || Admin || Menús Fácil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="http://menusfacil.com/admin/css/app.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style media="screen">
    .img-pago{
        width: 280px;
        margin: 0 auto;
    }
  @media  screen and (min-width:320px) {
    .img-pago{
        /* width: 300px; */
    }
  }
  </style>
</head>
<body>