<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menús Fácil | Menús Fácil</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="admin/css/app.min.css" rel="stylesheet">   
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<div id="app" v-cloak>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<a class="brand-logo center">
						<img src="/admin/img/logo-menusfacil.svg" alt="Menus Facil Logo" width="100px" class="imagen-logo">
					</a>
				</div>
		  	</nav>
		</div>
	</div>
</body>
</html>
