<!DOCTYPE html>
<html lang="es">
<head>
	<title>Menús Fácil</title>
	<% include partials/head %>
</head>
<body>
	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Autenticacion con Node JS</h1>
				<p>Iniciar o Registrarse</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Iniciar
				</a>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registrarse
				</a>
			</div>
		</div>
	</div>
</body>
</html>
