<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menús Fácil || Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="csrf-token" content="<%= csrfToken %>">
  <!-- Compiled and minified CSS -->
  <link href="admin/css/app.min.css" rel="stylesheet">    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<div id="dash">




 
    
</div>
<footer class="page-footer" style="background-color:#2a2730">
      <div class="footer-copyright">
          <div class="container">
            <span class="left"> Desarrollado por <a class="grey-text text-lighten-4" href="https://agenciawebbogota.com/" target="_blank">Agencia Web Bogotá</a></span>
            <span class="right">Todos los derechos reservados</span>
          </div>
      </div>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  //var io = io( serverUri, {'transports': ['websocket', 'polling']});  
  var socket = io.connect('http://192.168.0.12:4000');


  var user = <%- JSON.stringify(user) %>;

  // console.log(user.local.nombre)
  // Emitir eventos
  socket.emit('conectado', user);

  //Escuchar eventos
  socket.on('user-connected', (user)=>{
    //alert('Un usario se ha conectado a la app.');
    alert(`El usuario ${user.local.nombre} ha iniciado la aplicación.`)
    
  })
</script>

<script src="/admin/js/app.js"></script>     
</html>
  